<div class="row mainBkgrnd justify-content-start mt-2 rounded">
  <div class="satBufftan row justify-content-center align-text-center cloud">
    <p>{{name}}</p>
  </div>
  <div class="rounded mb-2 pl-3">
    <br>
    <p>{{ingredients}}</p>
    <p>{{directions}}</p>
    <a class="nav-link nostyle" href="/recipes/{{id}}">View This Recipe</a>
  </div>
</div>