<div class = "contact-page">
    <div class = "card-header col-md-10">
         <h2>Contact Us</h2>
    </div>
    <form class = "contact-form">
        <label for ="first-name"> First Name:</label><br>
        <input type = "text" id="first-name"><br>
        <label for ="last-name">Last Name:</label><br>
        <input type ="text" id="last-name"><br>
        <label for ="subject-line">Subject:</label><br>
        <input type ="text" id="subject-line"><br>
        <label for ="user-email">Email:</label><br>
        <input type ="email" id="user-email" name="user-email"><br>
        <label for  ="user-message">Message:</label><br>
        <textarea name="user-message" rows="15" cols = "50" id="user-message"></textarea><br><br>
 
        <input type="submit" value="Submit" id="submit">

    </form>
</div>