<div class = "create-recipe-page">
    <div class = "card-header col-md-10">
        <h2>Create Recipe</h2>
    </div>
    <form class = "create-recipe-form">
        <label for ="recipe-name"> Recipe Name:</label><br>
        <input type = "text" id="recipe-name"><br>
        <label for ="recipe-ingredients">Ingredients:</label><br>
        <input type ="text" id="recipe-ingredients"><br>
        <label for ="recipe-directions">Directions:</label><br>
        <input type ="text" id="recipe-directions"><br>
        <label for ="recipe-picture">Picture:</label><br>
        <input type ="file" name="recipe-picture" accept = "image/*"><br>
        <label for  = "recipe-book"> Recipe Book</label><br>
        
        <input type = "checkbox" id = "breakfast-book" name = "breakfast-book" value = "Book">
        <label for="breakfast-book">Breakfast</label><br>
        <input type = "checkbox" id = "lunch-book" name = "lunch-book" value = "Book">
        <label for="lunch-book">Lunch</label><br>
        <input type = "checkbox" id = "dinner-book" name = "dinner-book" value = "Book">
        <label for="breakfast-book">Dinner</label><br>
        <input type="submit" value="Submit">

    </form>
</div>