<div class = "create-recipe-page">
    <div class = "card-header col-md-10">
        <h2>Create Recipe</h2>
    </div>
    <form class = "create-recipe-form">
        <label for ="recipe-name"> Recipe Name:</label><br>
        <input type = "text" id="recipe-name"><br>
        <label for ="recipe-ingredients">Ingredients:</label><br>
        <input type ="text" id="recipe-ingredients"><br>
        <label for ="recipe-directions">Directions:</label><br>
        <input type ="text" id="recipe-directions"><br>
        <label for ="recipe-picture">Picture:</label><br>
        <input type ="file" name="recipe-picture" accept = "image/*"><br>
        <input type="submit" value="Submit">

    </form>
</div>