  <main class="container-fluid mt-5">
     <div class="row justify-content-around">
      <div class="col-5 rounded mt-1 mb-3">
        <div class="mainBufftan row justify-content-center align-items-center mb-5 cloud">
          <p>Remember:</p>
          <p>Apple Pie?</p>
        </div>
        <div class="row justify-content-center mb-5">
          <div class="mainTang row justify-content-center cloudSml">
            <p>Only takes 60 min to bake!</p>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="mainSmoke row justify-content-center cloudSml">
            <a class="nostyle lightLinks" href="#">Click to go to this recipe!</a>
          </div>
        </div>
      </div>

      <div class="col-md-auto align-self-center justify-content-center align-items-center rounded">
        <div class="row justify-content-center align-items-center">
          <img width="1200" height="1600" src="/images/appleCrisp768x1024.jpg" alt="Some cute cozy recipe photo" class="idealIMG align-self-center imgBorder">
        </div>
      </div>
    </div>
  </main>