<div class="row">
  <div class="login-card">
    <h2 class="title">Login</h2>
    <form class="loginForm">
      <div class="">
        <label for="loginEmail">Email:</label>
        <input class="" type="text" id="" />
      </div>
      <div class="">
        <label for="loginPassword">Password:</label>
        <input class="" type="text" id="" />
      </div>
      <div class="">
        <button class="btn" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="">
    <h2 class="title">Signup</h2>
    <form class="signupForm">
      <div class="">
        <label for="username">Username:</label>
        <input class="" type="text" id="" />
      </div>
      <div class="">
        <label for="signupEmail">Email:</label>
        <input class="" type="" id="" />
      </div>
      <div class="">
        <label for="signupPassword">Password:</label>
        <input class="" type="text" id="" />
      </div>
      <div class="">
        <button class="btn" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./public/login.js"></script>
