<main class="container-fluid mt-5">
  <div class="row justify-content-around">

    <div class="col-4-sm mt-3">
      <div class = "card-header col-md-10 mainTang">
           <h2>Create Book</h2>
      </div>
    <form id="newRecipeForm">

        <div class="form-group">
          <label for ="recipe-name"> Book Name:</label><br>
          <input type = "text" id="book-name" name="name" value="New Book Name"/><br>
        </div>


        <div class="mainBufftan" id="makeBook">
          <button class="btn" type="submit">Create Book</button>
        </div>

    </form>
  </div>
</main>