<main class="container-fluid mt-5">
  <div class="row justify-content-around">

    <div class="col-12 mt-3">
      <div class = "card-header col-md-10 mainTang">
        <h2>Create Recipe</h2>
      
        <form id="newRecipeForm">
          <div class="col-12">

            <div class="form-group">
              <label for ="recipe-name"> Recipe Name:</label><br>
              <input type = "text" class="form-control" id="recipe-name" name="name" value="Matts Test Recipe"/><br>
            </div>

            <div class="form-group">
              <label for ="recipe-ingredients">Ingredients:</label><br>
              <input type ="text" class="form-control" id="recipe-ingredients" name="ingredients" value="Put Your Ingredients Here"/><br>
            </div>
            
            <div class="form-group">
              <label for ="recipe-directions">Directions:</label><br>
              <input type ="text" class="form-control" id="recipe-directions" name="directions" value="Put Your Instructions Here"><br>
            </div>

            <div class="form-group">
              <label for ="recipe-directions">IMG URL:</label><br>
              <input type ="text" class="form-control" id="recipe-img" name="directions" value="https://bigoven-res.cloudinary.com/image/upload/h_320,w_320,c_fill/veggie-grilled-brussel-sprouts-a73b40.jpg"><br>
            </div>

            {{#each preBookData as |book|}}
            {{> bookCheckbox}}
            {{/each}}

            <div class="mainBufftan" id="makeRecipe">
              <button class="btn" type="submit">Create Recipe</button>
            </div>
            
          </div>
        </form>
      </div>
    </div>
  </div>
</main>