  <main class="container-fluid mt-5">
     <div class="row justify-content-around">
      <div class="col-5 mt-1 mb-3">

        <div class="row satBkgrnd justify-content-start rounded">
          <div class="row satSmoke justify-content-center align-text-center cloud">
            <p>{{recipesData.name}}</p>
          </div>
        </div>

        <div class="row mainBkgrnd justify-content-start mt-2 rounded">

          <div class="rounded mb-2 pl-3">
            <br>
            <img class='recipe-img' src="{{recipesData.img}}">
            <p>{{recipesData.ingredients}}</p>
            <p>{{recipesData.directions}}</p>
          </div>
        </div>

    </div>
  </main>