<div class = "signup-page">
    <div class = "card-header col-md-10">
         <h2>Sign Up for an Account</h2>
    </div>
    <form class = "signup-form">
        <label for ="first-name"> First Name:</label><br>
        <input type = "text" id="first-name"><br>
        <label for ="last-name">Last Name:</label><br>
        <input type ="text" id="last-name"><br>
        <label for ="user-name">Username:</label><br>
        <input type ="text" id="user-name"><br>
        <label for ="user-email">Email:</label><br>
        <input type ="email" id="user-email" name="user-email"><br>
        <label for  = "user-password">Password:</label><br>
        
        <input type = "password" id = "user-password" name = "user-password" minlength = "8" required></input><br><br>
        
        <input type="submit" value="Submit" id="signupForm">

    </form>
    <script src="./public/login.js"></script>
</div>