  <main class="container-fluid mt-5">
    <div class="row justify-content-around">
      <div class="col-6-md mt-1 mb-3">

        <div class="row satBkgrnd justify-content-start rounded">
          <div class="row satSmoke justify-content-center align-text-center cloud">
            <p>{{bookData.name}}</p>
          </div>
        </div>

      </div>

      <div class="col-3-md mt-1 mb-3">

        {{#each bookData.recipes as |recipe|}}
        {{> recipecard}}
        {{/each}}

      </div>
    </div>
  </main>