:root {

    --main-bg-clr: rgb(5, 0, 5);
    --main-fnt-clr: rgb(245, 245, 230);
    }
    
    
    /*  =========================  
            GENERAL ELEMENTS
        ========================= */
    
    body {
      background-color: var(--main-bg-clr);
      color: var(--main-fnt-clr);
    }
    
    
    /*  =========================  
          GENERAL CLASSES (think Bootstrap)
        ========================= */
    
    /* === All Flexbox Function === */
    
    /* === All Borderstyle === */
    
    
    /*  =========================  
            SPECIFIC CLASSES (think Javascript)
        ========================= */
    
    /* Make every div a button */
    
    
    
    /*  =========================  
                  IDs
        ========================= */
    
    /* === HEADER === */
    
    /* === NAV === */
    
    /* === BODY === */
    /* Specific Button */
    /* Specific Div */
    
    /* === FOOTER === */
    
    
    /*  =========================  
            ACCESSIBILITY
        ========================= */
    @media (max-width: 690px) {
        
    }
    
    @media (max-width: 500px) {
        
    }