:root {

    --main-bkgrd: #272838;
    --main-redwood: #9B5D59;
    --main-bufftan: #F3DE8A;
    --main-tang: #EB9486;
    --main-smoke: #7E7F9A;
    --main-font: #f9f8f8;

    --sat-bkgrd: #0A0f57;
    --sat-redwood: #de2417;
    --sat-bufftan: #fce483;
    --sat-tang: #fa8775;
    --sat-smoke: #343ae5;
    --sat-font: #fdf2f2;

    --undr-bkgrd: #05072a;
    --undr-redwood: #6A120b;
    --undr-bufftan: #b39005;
    --undr-tang: #aa1c06;
    --undr-smoke: #0f1377;
    --undr-font: #cd2020;

    }
    
    
    /*  =========================  
            GENERAL ELEMENTS
        ========================= */
    
    body {
      background-color: var(--main-redwood);
      color: var(--main-font);
    }
    
    
    /*  =========================  
          GENERAL CLASSES (think Bootstrap)
        ========================= */
    
    /* === All Flexbox Function === */
    
    /* === All Borderstyle === */
    
    
    /*  =========================  
            SPECIFIC CLASSES (think Javascript)
        ========================= */

.navbarBkgrnd {
    background-color: var(--main-font);
}
.navbarRounded {
    border-radius: .5rem;
    padding: .5rem;
}

.seeMe {
    background-color: #05072a;
}

.seeMe2 {
    background-color: var(--main-smoke);
}

.seeMe3 {
    background-color: var(--main-smoke);
    border: .25rem solid;
    border-color: var(--undr-redwood);
}

.seeMe4 {
    background-color: var(--main-tang);
    border: .25rem solid;
    border-color: var(--sat-bkgrd);
    color: var(--undr-bkgrd)
}

    
    
    
    /*  =========================  
                  IDs
        ========================= */
    
    /* === HEADER === */
    
    /* === NAV === */
    
    /* === BODY === */
    /* Specific Button */
    /* Specific Div */
    
    /* === FOOTER === */
    
    
    /*  =========================  
            ACCESSIBILITY
        ========================= */
    @media (max-width: 690px) {
        
    }
    
    @media (max-width: 500px) {
        
    }