:root {

    --main-bkgrd: #272838;
    --main-redwood: #9B5D59;
    --main-bufftan: #F3DE8A;
    --main-tang: #EB9486;
    --main-smoke: #7E7F9A;
    --main-font: #f9f8f8;

    --main-bkgrd: #0A0f57;
    --main-redwood: #de2417;
    --main-bufftan: #fce483;
    --main-tang: #fa8775;
    --main-smoke: #343ae5;
    --main-font: #f9f8f8;

    --main-bkgrd: #272838;
    --main-redwood: #9B5D59;
    --main-bufftan: #F3DE8A;
    --main-tang: #EB9486;
    --main-smoke: #7E7F9A;
    --main-font: #f9f8f8;

    }
    
    
    /*  =========================  
            GENERAL ELEMENTS
        ========================= */
    
    body {
      background-color: var(--bkgrnd-dark);
      color: var(--fnt-clr-wht);
    }
    
    
    /*  =========================  
          GENERAL CLASSES (think Bootstrap)
        ========================= */
    
    /* === All Flexbox Function === */
    
    /* === All Borderstyle === */
    
    
    /*  =========================  
            SPECIFIC CLASSES (think Javascript)
        ========================= */
    
    /* Make every div a button */
    
    
    
    /*  =========================  
                  IDs
        ========================= */
    
    /* === HEADER === */
    
    /* === NAV === */
    
    /* === BODY === */
    /* Specific Button */
    /* Specific Div */
    
    /* === FOOTER === */
    
    
    /*  =========================  
            ACCESSIBILITY
        ========================= */
    @media (max-width: 690px) {
        
    }
    
    @media (max-width: 500px) {
        
    }