@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Shadows+Into+Light&display=swap');


:root {

    --main-bkgrd: #272838;
    --main-redwood: #9B5D59;
    --main-bufftan: #F3DE8A;
    --main-tang: #EB9486;
    --main-smoke: #7E7F9A;
    --main-font: #f9f8f8;

    --sat-bkgrd: #171b58;
    --sat-redwood: #de2417;
    --sat-bufftan: #fce483;
    --sat-tang: #fa8775;
    --sat-smoke: #343ae5;
    --sat-font: #fdf2f2;

    --undr-bkgrd: #05072a;
    --undr-redwood: #6A120b;
    --undr-bufftan: #b39005;
    --undr-tang: #aa1c06;
    --undr-smoke: #0f1377;
    --undr-font: #cd2020;

    }
    
    
    /*  =========================  
            GENERAL ELEMENTS
        ========================= */
    
body {
  background-color: var(--main-redwood);
  color: var(--main-font);
}
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    /* cursor: auto; */
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    /* cursor: auto; */
}
    
    
    /*  =========================  
          GENERAL CLASSES (think Bootstrap)
        ========================= */
    
    /* === All Flexbox Function === */
    
    /* === All Borderstyle === */
    
    
    /*  =========================  
            SPECIFIC CLASSES (think Javascript)
        ========================= */

.navbarBkgrnd {
    background-color: var(--main-font);
    
}
.rounded {
    border-radius: .5rem;
}

.seeMe {
    background-color: var(--main-bufftan);
    color: var(--undr-bkgrd);
}

.seeMe2 {
    background-color: var(--main-smoke);
    color: var(--undr-bkgrd);
}

.seeMe3 {
    background-color: var(--main-tang);
    color: var(--undr-bkgrd);
}

.satBkgrnd {
    background-color: var(--sat-bkgrd);
}

.seeMe4 {
    background-color: var(--main-tang);
    border: .25rem solid;
    border-color: var(--sat-bkgrd);
    color: var(--undr-bkgrd)
}

.idealIMG {
    display: block;
    max-height:75vh;
    width: auto;
    height: auto;
}

.imgBorder {
    border: .25rem solid;
    border-color: var(--undr-redwood);
    border-radius: .5rem;
}

    /*  =========================  
                  CLOUDS
                  https://lauryndbrown.github.io/2017/06/08/creating-clouds-in-css.html
        ========================= */

.cloud{ 
   margin-top:1rem;
   width:350px;
   height:auto;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius:100px;
   /* font-family: 'Shadows Into Light', cursive; */
   font-family: 'Sacramento', cursive;
   font-size: 3rem;
}

.cloudTitle{ 
   margin-top:1rem;
   width:350px;
   height:auto;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius:100px;
   font-size: 3rem;
}

.cloud{ 
   margin-top:1rem;
   width:350px;
   height:auto;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius:100px;
   /* font-family: 'Shadows Into Light', cursive; */
   font-family: 'Sacramento', cursive;
   font-size: 3rem;
}

.cloudSml{ 
   margin-top:1rem;
   width:250px;
   height:auto;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius:100px;
}

.lightLinks {
    color: var(--main-font);
}
    
    /*  =========================  
                  IDs
        ========================= */


    /*  =========================  
                  IDs
        ========================= */
    
    /* === HEADER === */
    
    /* === NAV === */
    
    /* === BODY === */
    /* Specific Button */
    /* Specific Div */
    
    /* === FOOTER === */
    
    
    /*  =========================  
            ACCESSIBILITY
        ========================= */
    @media (max-width: 690px) {
        
    }
    
    @media (max-width: 500px) {
        
    }